<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>barragancoremods</name>
	<displayName><![CDATA[Modificación de Core Barragán]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Módulo para estandarizar las modificacioens de core /src ]]></description>
	<author><![CDATA[Areaf5]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
